*{
 
    box-sizing: border-box;
}

body{

    height: 100vh;
    margin:0;
    padding: 0;
    background: linear-gradient(220deg,#CC00FF ,#F21515 );
    
}


.task-container{

    width: 350px;
    height : 70vh;
    background-color: white;
    margin: auto;
    margin-top:6vh;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
  box-shadow: 2px 10px 18px rgb(94, 92, 92);
  

}

.switch-tab{

    height: 10%;
    display: flex;
    align-items: center;
    
    
}


.task-list-container{

    height: 100%;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.completed-task-container{

    height: 100%;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

p{
    font-size: larger;
    color : #cc0e74;
    font-weight: 600;
}


.all-tasks{

    height: 90%;
    width: 100%;
    background-color:white ;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task{

    height : 30px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.check-button , .delete-button{

    height: 25px;
    width: 25px;
}

.task-text{

    height : 25px;
    width: 50%;
    background-color: white;
    box-shadow: 4px 1px 5px 1px #888888;
    border: 1.5px solid #9c9c9c;
   color: #757272;
    overflow: hidden;
   padding-left: 3px;
   padding-right: 3px;
   


}

.add-container{

    
    height: 45px;
    width: 45px;
    
    box-shadow: 4px 1px 5px 1px #888888;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 103vh;
    top: 73vh;
    opacity: 1;

}

.add-button{

    height: 35px;
    width: 35px;
    

}


.active{

    background-color: #f8a0c2;
    box-shadow: 5px 3px 4px thistle;
}